body {
  font-family: Segoe UI, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #01638e, #1A3B4C);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  max-width: 800px;
}
#bot-choice {
  /* display: block;
  width: 100%; */
  margin-bottom: 10px;
}
.chat-bubble {
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 5px;
  display: inline-block;
  max-width: 75%;
  min-width: 40%;
  clear: both;
}

.text {
font-size: medium;
}
.user {
  background-color: #e1f3fd;
  float: right;
  clear: both;
}
.bot {
  background-color: #f2f2f2;
  float: left;
  clear: both;
  min-width: 60%;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  float: left;
}
input, select {
  font-family: Segoe UI, Verdana, sans-serif;
  font-size: larger;
}
.page-title {
  font-family: 'Verdana', sans-serif;
  font-size: 2rem;
  text-align: center;
  color: #000000;
  margin-bottom: 1rem;
}
.new-conversation-btn {
  font-family: 'Verdana', sans-serif;
  background-color: #4a8fdf;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  padding: 10px 24px;
}
.bot-avatar {
  background-image: url('avatar_custom_robot.png');
  background-size: cover;
  background-position: center top;
}
.bot-selector {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  font-size:larger;
}
#start-conversation {
  display: block;
  margin: 10px auto;
  float:left;
}

#messages {
  max-height: 600px;
  min-height: 400px;
  margin-top: 10px;
}

#submit-btn {
  font: inherit;
  display: block;
  float: right;
}

#user-input {
  float: left;
  width: 98%;
  font-size: larger;    
  padding: 8px;
}

.username {
  font-weight: bold;
  color: navy;
  /* no word wrapping */
  white-space: nowrap;
}

pre {
  background: darkblue;
  color: skyblue;
  padding: 10px;
  border: 2px green inset;
  overflow-x: scroll;
}